# PNPM config
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=typescript
public-hoist-pattern[]=vite
public-hoist-pattern[]=turbo
public-hoist-pattern[]=vitest
public-hoist-pattern[]=@vitest/*

# Performance
prefer-frozen-lockfile=true
node-linker=isolated
auto-install-peers=true
strict-peer-dependencies=false

# Cache
store-dir=.pnpm-store